{{#partial "content"}}
    <h1>{{squad.name}}</h1>
    <p>Here are all the tasks listed in this squad:</p>
    <ul>
        {{#each tasks}}
            <li>
                <p><a href="/categories/{{squad.id}}/tasks/{{id}}">{{description}}</a></p>
            </li>
        {{/each}}
    </ul>
    <a href="/categories/{{squad.id}}/edit">Edit this squad</a><br>
    <a href="/categories/{{squad.id}}/delete">DELETE this squad</a>
{{/partial}}

{{> layout.hbs}}